#buttons {
    background-color: red;
    border: 2px black;
}

.copy {
    background-color: red;
    height: 30px;
    line-height: 0.5 1 0.5 1 ;
    border-radius: 5px;
    /* padding: 0 20px; */
    background-image: linear-gradient(to top left,
    rgba (0 0 0 100));
    
}

.copy:hover {
    background-color: rgb(57, 194, 235);
}

.copy:active {
    inset: 2px 2px 25px black ;
}

